html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding-top: 50px;
}

#map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.white {
  color: white;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 24px;
  height: 50px;
  color: red;
}

.navbar-inverse .navbar-nav>li>a {
  color: orange;
}

.navbar-nav>li>a {
  font-size: 18px;
}

.navbar-inverse {
  background: #555;
}

.navbar-collapse.in {
  overflow-y: hidden;
}

.navbar-header .navbar-icon-container {
  margin-right: 15px;
}

.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}

.navbar-header a.navbar-icon {
  margin-left: 25px;
}
